/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
}

.logo {
  width: 155px;
  margin: 40px 20px;
}

.navbar {
  margin: 40px 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Header styling */
header {
  background-color: #fdfeff;
  padding: 10px 0;
}

/* Navigation container styling */
.d-flex.justify-content-around {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between !important;
}

/* Logo styling */
.nav-logo img.logo {
  height: 50px;
  margin: 40px 10px 40px 20px;
}

/* Navigation menu styling */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Menu items styling */
.navbar ul li {
  margin: 0 20px;
}

/* Links styling */
.navbar ul li a {
  color: #f5385c;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  padding: 12px;
}

/* Hover effect for links */
.navbar ul li a:hover {
  color: #f5385c;
  border: 2px solid #f5385c;
  border-radius: 5px;
}

/* Custom link styling */
.custom-link {
  display: flex;
  align-items: center;
  color: #f5385c;
  border: 1px solid transparent;
}

/* Icon styling */
.custom-svg {
  margin-left: 5px;
  font-size: 18px;
}

/* Profile menu styling */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Profile menu items styling */
nav ul li {
  margin: 0 20px;
}

/* Profile menu links styling */
nav ul li a {
  color: #f5385c;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

/* Dropdown menu styling */
.dropdown-menu {
  background-color: #000000;
  border: none;
}

/* Dropdown menu items styling */
.dropdown-menu .dropdown-item {
  color: #f5385c;
  transition: background-color 0.3s;
}

/* Hover effect for dropdown menu items */
.dropdown-menu .dropdown-item:hover {
  background-color: #fdf8f9;
}

/* Profile menu styling */
.profile-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Profile menu items styling */
.profile-menu li {
  margin: 0 20px;
}

/* Profile menu links styling */
.profile-menu li a {
  color: #f5385c;
  font-size: 18px;
  padding: 12px;
  text-decoration: none;
  transition: color 0.3s;
  border: 1px solid transparent;
}

/* Hover effect for profile menu links */
.profile-menu li a:hover {
  
  border-radius: 5px;
  color: #f5385c;
  border: 2px solid #f5385c;
}

.dropdown-divider {
  background-color: white;
}

/* Index Page */
.sous-titre {
  font-size: 20px;
}

.accueil {
  margin: 50px auto; /* Centre horizontalement et ajoute une marge en haut et en bas */
  padding: 20px;
  text-align: center;
}
.accueil .titre-principal {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
}
.accueil p {
  margin-bottom: 30px;
}
.card img {
  height: 300px;
  object-fit: cover;
}
.available {
  margin: 50px 0 30px 60px;
  text-decoration: underline;
}

.img {
  border-radius: 30px;
  width: 400px !important;
  height: 400px !important;
  object-fit: cover !important;
}

/* CARDS */

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Card styling */
.card {
  margin-bottom: 20px; /* Espacement entre les cartes */
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Card image styling */
.card-img-top {
  width: 290px;
  height: 290px;
  display: block;
  border-radius: 30px;
  object-fit: cover;
}

/* Card body styling */
.card-body {
  padding: 0px !important;
  flex-grow: 1; /* Pour que le corps de la carte prenne toute la hauteur disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Répartit le contenu verticalement */
  align-items: center;
}

.card-reservation {
  background-color: #f5385c;
  box-shadow: #a8a8a8 0px 5px 15px;
  border-radius: 10px;
}

/* Card title styling */
.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Card text styling */
.card-text {
  margin-bottom: 15px;
}

/* Price styling */
.price {
  font-weight: bold;
}

/* Button styling */
.btn {
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  background-color: #f5385c;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  opacity: 0.9;
  border: 1px solid transparent;
}

.btn-reserver {
  width: 20%;
  background-color: #f5385c;

  margin-top: 20px;
}

.btn:hover {
  background-color: #f9fcff;
  color: #f5385c;
  font-weight: bold;
  border: 1px solid #f5385c;
}

/* DETAIL DES LOGEMENTS */

.container-detail {
  margin: 0 100px;
}

.card-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-detail {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin: 80px 0 100px 80px;
}

.infos-equipements {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.reserver {
  width: 200px;
  text-align: center;
  padding: 10px 0;
  background-color: #03da23;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.card-body-detail {
  margin: 60px 20px 0 0;
}

.price {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.price1 {
  font-size: 17px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #f5f2f2;
  box-shadow: #a8a8a8 0px 0px 8px;
}

/* PAGE CONNEXION */

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #f5385c;
}

.detail-description {
  color: #fff;
}

.connexion-title {
  font-size: 30px;
  margin: 40px 0 40px 0px;
}

.form-control {
  border: 1px solid #adb5bd;
  margin: 20px 0;
}

.call-action {
  padding: 10px;
  background-color: #fff;
  color: #f5385c;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.call-action:hover {
  background-color:#f5385c ;
  color:#fff;
  font-weight: bold;
  box-shadow: none;
}

.no-account {
  margin-top: 20px;
}

.auth-link {
  font-weight: bold;
}

.auth-link:hover {
  border: 2px solid #000000;
  border-radius: 8px;
  color: #fff;
  padding: 5px 10px;
  background-color: #f5385c;
  font-weight: normal;
}

.header-description {
  margin-top: 20px;
}

/* PAGE MES RESERVATIONS */

.title-reservation {
  width: 50%;
  margin: 40px auto;
  text-align: center;
}

.card-reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0;
  margin-left: 40px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 150px;
  background-color: #020202;
}

/* MES LOGEMENTS */

.card-logements {
  border: 2px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  gap: 20px;
}

.each-logement {
  height: auto;

  border: 2px solid rgb(98, 169, 190);
  border-radius: 8px;
  margin: 20px;
}

/* PAGE ADD LOGEMENT */

.type-logement {
  margin: 10px 0;
}

.btn-send {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.add-photos {
  margin: 50px 0;
}

.img-reservation{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  gap: 20px;
}


.table{

 padding: 20px;
 
}